

<!-- Old code above just left there, remove at the end
    -->


<div class ="background-white">
    <div class="container-bloglikemonbiot"> 
    <p class="blog-title__foreachtitle_likemonbiot"><%= @article.title %></p>
    <p><%= @article.created_at.strftime("%d %B %Y")  %> by Haseeb Chaudhary</p>
    <p><%= markdown @article.description %></p>
    <br>
    <br>
    <!-- This is basically saying if you're logged in and you are user Haseeb you can edit stuff 
    the && used to guard against nil errors 
    -->

    <!-- Here I've taken out the condition on who needs to be logged in
    -->

    
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %> |
        
        <%= link_to 'Delete', article_path(@article), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure?"} %> |
        
    <%= link_to 'Back', articles_path, class: "btn btn-xs btn-success" %>
    <br>
    <br>
        <div class="comments-blog">
            <p>Comments:</p>
        </div>
        <!-- Add the comments section later
       taken out all the article comments code from here, need to add it later
        -->

    </div>
</div>